.sidebar {
  position: absolute;
  right: 10%;
  top: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shuffle {
  height: 40px;
  width: 80px;
  margin: 2em;
}

.slider{
    margin: 1em;
}
